

  
  
    
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;



}

.heading {
  color: aliceblue;
  position: absolute;
  bottom: 80%;
  right: 40%;
  padding: 12px;

}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;

}

#navbar li {
  list-style: none;
  padding: 0 10px;
  align-items: center;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600px;
  color: #1a1a1a;
  text-align: center;
  transition: 00.5s;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;

}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  background-color: aqua;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#hero {
  background-image: url("assets/grasspic.jpg");
  height: 120vh;
  width: 100%;

  background-size: cover;
  padding: 0 80px;
  display: flex;
  background-position: top 65% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;



}



.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 45px;
  ;

}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  position: relative;
  top: 0;
  bottom: 0;
}

.row1 {
  display: flex;
  margin-top: 70px;
}

.col1 {
  /* border: 1px solid; */
  box-shadow: 0px 4px 16px 0px #A6A6A640;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  height: 400px;
}

.img {
  height: 250px
}

.social {
  margin-top: 20px;
}

.social>a {
  text-decoration: none
}

.social>a>i {
  padding: 4px;
  font-size: 25px;
}

.team {
  margin-bottom: 20px;
  text-align: center;
}


.col img {
  max-width: 100%;

  height: 90vh;
  padding-left: 60px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.text-block {
  position: absolute;
  bottom: 100px;
  left: 93px;
  right: 87px;
  font-weight: 2px;


  background-color: rgb(5, 3, 3);
  color: white;
  padding-left: 30px;
  padding-right: 35px;
  padding-bottom: 40px;
}

.col h1 {
  position: absolute;
  bottom: 10px;
  left: 3px;
  right: 7px;
  font-weight: 3px;



  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 34px 27px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: absolute;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.card img {
  align-items: flex-start;
  justify-content: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 8px 6px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.container1 {
  padding: 60px;
  align-items: flex-start;
  justify-content: center;

}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}


/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #55ACEE;
  color: white;
  text-align: center;
}

.col1 {
  float: left;
  width: 20%;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;

}

.card1 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 34px 27px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: absolute;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: space-around;



}

.card1 img {
  align-items: flex-start;
  justify-content: center;
}

/* On mouse-over, add a deeper shadow */
.card1:hover {
  box-shadow: 8px 6px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.container2 {
  text-align: center;
}

.container2>h4 {
  margin-top: 20px;
}

.socials {
  position: absolute;
  padding: 12px;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* p{
  text-align: center;
  padding-top: 23px;
  font-size: large;
} */

.design{
  float: left;
  position: relative;
  padding-right: 10px;;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#item2{
  float: right;
  padding-left: 43px;
}
.shoes{
  top: 40%;
  right:70%;
  transform:translate(-50%, -50%);
  position:absolute;
  width:max-content;
}



.center{
  width: 100%;
  margin: 10px 0 ;
  min-height: 50vh;
  display: flex;
  
}
.left{
  margin: 0 10px; 
  height: 100%;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  padding: 10px;
}
.right{
  margin: 0 10px;
  height: 100%;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
.title{
  height: 100px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card3{
  display: flex;
  width: 90%;
  
}
.three-img{
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-evenly;
}
.three-img img, .card3 img{
  background-color: rgb(237, 237, 237);
  margin: 5px 5px;
}
.rating, .cost{
  margin-top: 10px;
}
.review, .offer{
  font-size: 14px;
}
.cost{
  font-weight: 600;
}
.last{
  margin: 0 5px;
}
.box{
  height: 50px;
  width: 50px;
  background-color: pink;
  margin: 1px 5px;
}
.select{
  display: flex;
  margin-top: 10px;
}
.select p{
  width: 20%;
}
.box2{
  height: 50px;
  width: 50px;
  border: 2px solid black;
  margin: 1px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rate{
  display: flex;
}
.cart-btn{
  width: 100%;
  text-align: center;
}
.cart-btn button{
  background-color: transparent;
  width: 20%;
  height: 40px;
}
.black{
  background-color: black !important;
  color: white;
}

.right{
  padding: 10px 20px;
  height: inherit;
}
.main-ques{
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;


}
.user-info, .user-info div{
  display: flex;
}
.user-info div{
  width: 40%;
  color: grey;
}

.user-info div p{
  padding: 0 10px;
  
}
.right .btn{
  text-align: center;
  margin: 10px;
}
.right button{
  background-color: gray;
  height: 40px;
  width: 30%;
  border: none;
  color: white;
  padding: 10px ;
}